.env
node_modules/

# next.js
.next/
out/

# production
build/

# misc
*.pem
.DS_Store

# debug
npm-debug.log*

# local env files
.env*.local

# database
data/*.db
data/*.db-wal
data/*.db-shm

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
